/* @import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Crimson+Text&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap");

/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");

:root {
  --main-color: white;
  --secondary-color: #69c9d0;
  --third-color: #ee1d52;
  --fourth-color: black;
  --fifth-color: #c2c2c2;
}

body {
  /* font-family: "Lato", "Crimson Text", Arial, Helvetica, sans-serif; */
  font-size: 20px;
  box-sizing: border-box;
  margin: 0;
  background-color: var(--main-color);
  text-align: center;
}

.wrapper {
  /* min-width: 320px; */
  /* margin-top: 200px; */
  max-width: 964px;
  min-width: 200px;
  margin: auto;
  /* outline: 1px solid red; */
  padding: 30px;
}

h1 {
  color: var(--third-color);
  font-size: 2em;
}

h1,
h2,
h3 {
  font-family: "Noto Sans JP", sans-serif;
}

p,
li {
  font-family: "Lato", sans-serif;
}

.header-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.emphasis-text {
  /* color: var(--secondary-color); */
  /* font-weight: 900; */
  text-decoration: underline;
}

.separator {
  /* border-top: solid 1px var(--fifth-color); */
  padding-bottom: 20px;
}

.detailed-h4 {
  text-transform: uppercase;
  font-weight: 900;
  text-decoration: underline;
  padding-top: 10px;
  color: var(--third-color);
}

.main-logo {
  max-width: 200px;
}

/* Investor List */

.investor-heading {
  color: var(--third-color);
}

.investor-list {
  list-style: none;
  text-align: center;
  padding-bottom: 50px;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  justify-items: center;
  align-items: center;
}

.criteria-list,
.the-format-list {
  list-style: none;
  text-align: center;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

li {
  padding: 10px 0;
}

.format-list-item {
  padding: 15px;
}

.divider {
  border-bottom: dotted 1px var(--fifth-color);
  width: 50%;
}

/* .investor-name:hover {
  color: var(--secondary-color); 
  cursor: pointer;
} */

.investor-name {
  font-size: 1.2rem;
  /* font-weight: 900; */
}

.fund-name {
  /* font-style: italic; */
  color: var(--third-color);
  font-size: 0.9rem;
  font-weight: 700;
  font-family: "Lato", Helvetica, sans-serif;
  text-transform: uppercase;
}

.fund-name:hover {
  color: var(--secondary-color);
  cursor: pointer;
}

.section-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-header h1,
.section-header h2 {
  margin-bottom: 10px;
  border-bottom: solid 2px var(--secondary-color);
  padding-bottom: 5px;
  color: var(--third-color);
}

.investor-section {
  /* background-color: rgb(233, 231, 231); */
  border: solid 2px rgb(233, 231, 231);
  /* max-width: 400px; */
  margin: 30px auto;
  padding: 10px 0;
}

.headline {
  color: var(--third-color);
}

.social-link {
  padding-right: 2px;
  width: 15px;
  padding: 0 5px;
}

.social-link:hover {
  filter: opacity(40%);
  cursor: pointer;
}

.socials {
  padding-top: 5px;
}

.ivnestor-name-actual {
  padding-right: 10px;
}

.investor-list a,
.investor-list a:active {
  text-decoration: none;
  color: inherit;
}

.magnus:hover {
  color: var(--third-color);
  cursor: default;
}

.typeform-link {
  border-bottom: solid 1px var(--third-color);
  margin-bottom: 0;
  border-radius: 10%;
  font-weight: 700;
  /* outline: solid 1px red; */
  color: var(--third-color);
  display: inline-block;
}

.typeform-link a,
.typeform-link a:active {
  text-decoration: none;
  color: inherit;
}

/* .typeform-link:hover {
  color: var(--secondary-color);
  border-bottom: solid 1px var(--secondary-color);
  cursor: pointer;
} */

.the-fund-logo {
  border-radius: 5px;
  margin-left: 5px;
}

.fund-logos {
  height: 40px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* outline: solid 1px red; */
}

/* fund logo brightness hove */

a > img:hover {
  filter: opacity(40%);
}

.investor-item {
  /* outline: solid 1px red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding: 0px; */
}

@media only screen and (max-width: 523px) {
  .investor-item:not(:last-child) {
    border-bottom: solid 1px var(--fifth-color);
    padding: 30px 0;
    width: 60%;
  }

  .investor-item:last-child {
    padding-top: 30px;
  }

  .investor-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (min-width: 964px) {
  .investor-item:nth-child(n + 5) {
    margin-top: 35px;
  }
}

/* THREE x THree layout */
@media only screen and (max-width: 963px) and (min-width: 744px) {
  .investor-item:nth-child(n + 4) {
    margin-top: 35px;
    /* outline: solid 1px red; */
  }
}

@media only screen and (max-width: 743px) and (min-width: 523px) {
  .investor-item:nth-child(n + 3) {
    margin-top: 35px;
  }
}

@media only screen and (max-width: 360px) {
  .wrapper {
    padding: 15px;
  }
  .main-heading {
    font-size: 1.5em;
  }
  .navigation-section {
    width: 100%;
  }
}

@media only screen and (min-width: 360px) and (max-width: 400px) {
  .wrapper {
    padding: 20px;
  }
  .main-heading {
    font-size: 1.6em;
  }
  .navigation-section {
    width: 100%;
  }
}

@media only screen and (min-width: 400px) and (max-width: 500px) {
  .main-heading {
    font-size: 1.7em;
  }
}

.navigation-section {
  width: 100%;
}
.profile-picture {
  width: 120px;
  border-radius: 50%;
  padding: 10px;
}

.main-heading {
  font-weight: 900;
  /* margin-bottom: 10px; */
  /* border-bottom: solid 2px var(--secondary-color); */
  padding-bottom: 5px;
  background-color: var(--third-color);
  color: white;
  padding: 20px;
  border-radius: 20px;
}

.apply-list {
  list-style: none;
  /* text-align: left; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  padding: 5px;
}

.list-item-number {
  font-size: 1.2rem;
  background-color: var(--third-color);
  font-weight: 700;
  font-family: "Lato", Helvetica, sans-serif;
  padding: 5px;
  margin-bottom: 20px;
  /* width: 20px; */
  border-radius: 5px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.apply-list-item {
  padding-bottom: 20px;
  padding: 10px 7px;
  flex-direction: column;
}

.apply-now-button {
  padding: 20px 100px;
  font-size: 1.2rem;
  color: white;
  background-color: var(--secondary-color);
  border-radius: 20px;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  /* max-width: 400px; */
}

.apply-now-button:hover {
  /* background-color: #9edadf; */
  filter: opacity(50%);
  cursor: pointer;
}

.application-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.and-or {
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  margin-top: 15px;
}

.apply-button-link,
.apply-button-link:active {
  text-decoration: none;
}

.angel-investor-tag {
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
  /* color: var(--third-color); */
}

.angel-investor-tag:hover {
  filter: opacity(60%);
}

/* Collapsible FAQ Section */
/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.collapsible-field-content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
  text-align: left;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

/* FAQ Section Heading */
.faq-section {
  margin-top: 50px;
  padding-top: 20px;
  border-top: solid 1px var(--fifth-color);
}

.first-faq-item {
  margin-top: 40px;
}

.faq-item {
  margin-bottom: 10px;
}

.requirement-text {
  padding: 10px;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 700;
}

.navigation-section {
  display: flex;
  justify-content: center;
  align-items: center;
  /* outline: 1px solid red; */
  padding: 0;
  margin: 0;
  width: 60%;
  margin: auto;
}

.nav-items {
  list-style: none;
  padding: 0;
  width: 100%;
  display: grid;
  margin-top: 0;
  margin-bottom: 0;
  grid-template-columns: 1fr 0.2fr 1fr 0.2fr 1fr 0.2fr 1fr;
  align-items: center;
  /* flex-direction: var(--fifth-color); */
  justify-content: space-around;
}

.nav-item {
  padding: 0 20px;
  /* text-transform: uppercase; */
  font-weight: 500;
  font-size: 0.98rem;
  /* width: 150%; */
  /* outline: 1px solid black; */
}

.nav-item > a {
  text-decoration: none;
  color: black;
}

.nav-item > a:hover {
  text-decoration: none;
  color: var(--third-color);
}

#nav-item-active > a {
  color: var(--third-color);
  font-weight: 900;
}

.nav-spacer {
  color: var(--fifth-color);
}
