@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Crimson+Text&display=swap");

:root {
  --main-color: white;
  --secondary-color: #69c9d0;
  --third-color: #ee1d52;
  --fourth-color: black;
  --fifth-color: #c2c2c2;
}

body {
  font-family: "Cormorant Garamond", "Crimson Text", Arial, Helvetica,
    sans-serif;
  font-size: 20px;
  box-sizing: border-box;
  margin: 0;
  background-color: var(--main-color);
  text-align: center;
}

.wrapper {
  /* min-width: 320px; */
  /* margin-top: 200px; */
  max-width: 700px;
  min-width: 300px;
  margin: auto;
  /* outline: 1px solid red; */
  padding: 50px;
}

h1 {
  color: var(--third-color);
}

.separator {
  border-top: solid 1px var(--fifth-color);
  padding: 50px 0;
}

.main-logo {
  max-width: 200px;
}

/* Investor List */

.investor-heading {
  color: var(--third-color);
}

.investor-list {
  list-style: none;
  text-align: center;
}

.investor-name {
  padding-bottom: 10px;
}

.fund-name {
  /* font-style: italic; */
  color: var(--third-color);
}
