@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Crimson+Text&display=swap");

:root {
  --main-color: white;
  --secondary-color: #69c9d0;
  --third-color: #ee1d52;
  --fourth-color: black;
  --fifth-color: #c2c2c2;
}

body {
  font-family: "Cormorant Garamond", "Crimson Text", Arial, Helvetica,
    sans-serif;
  font-size: 20px;
  box-sizing: border-box;
  margin: 0;
  background-color: var(--main-color);
  text-align: center;
}

.wrapper {
  /* min-width: 320px; */
  /* margin-top: 200px; */
  max-width: 700px;
  min-width: 200px;
  margin: auto;
  /* outline: 1px solid red; */
  padding: 30px;
}

h1 {
  color: var(--third-color);
}

.header-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.emphasis-text {
  color: var(--secondary-color);
  font-weight: 900;
  text-decoration: underline;
}

.separator {
  /* border-top: solid 1px var(--fifth-color); */
  padding-bottom: 20px;
}

.main-logo {
  max-width: 200px;
}

/* Investor List */

.investor-heading {
  color: var(--third-color);
}

.investor-list {
  list-style: none;
  text-align: center;
  padding-bottom: 50px;
  padding: 10px;
}

.criteria-list,
.the-format-list {
  list-style: none;
  text-align: center;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

li {
  padding: 10px 0;
}

.format-list-item {
  padding: 15px;
}

.divider {
  border-bottom: dashed 1px var(--fifth-color);
  width: 50%;
}

.investor-name:hover {
  color: var(--secondary-color);
  cursor: pointer;
}

.fund-name {
  /* font-style: italic; */
  color: var(--third-color);
}

.section-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-header h1 {
  margin-bottom: 10px;
  border-bottom: solid 2px var(--secondary-color);
  padding-bottom: 10px;
}

.investor-section {
  background-color: rgb(233, 231, 231);
  max-width: 400px;
  margin: 30px auto;
  padding: 10px 0;
}

.headline {
  color: var(--third-color);
}
